.introducao {

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 7em 5em;

    &__texto {

        h1 {
            margin: 0;
            font-size: 3.63rem;
            font-weight: 700;
            line-height: 4.38rem;
            color: var(--preto-texto);
        }
    }

}

@media screen and (max-width: 1024px) {
    .introducao {

        margin: 2em 3em 4em 3em;

        &__texto {
            h1 {
                font-size: 2.5rem;
                line-height: 3.12rem;
                text-align: center;
            }
        }

        &__imagem {
            margin: 1em;

            img {
                width: 200px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .introducao {

        flex-direction: column;
        margin: 2em 3em;

        &__texto {
            h1 {
                font-size: 1.56rem;
                line-height: 2.13rem;
            }
        }

        &__imagem {

            img {
                width: 150px;
            }
        }
    }
}