.btn {
    background-color: var(--azul);
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    transition: 0.5s ease;

}

.btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}