.socialLinks {
    
    img {
        margin: 0 0.4em;
        width: 30px;
        height: 30px;
    }

    img:hover {
        filter: hue-rotate(90deg);
    }
}


@media screen and (max-width: 768px) {
    .socialLinks {
    
        img {
            margin: 0 .8em;
            
        }
    }
}