.hobbies {
    margin: 4em 8em;

    h1, h2 {
        color: var(--preto-texto);
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        color: var(--cinza-texto);
        font-size: 1.2rem;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .hobbies {
        margin: 2em 2em;
    
        h1 {
            font-size: 2rem;
        }
    
        h2 {
            font-size: 1.5rem;
        }
    
        p {
            color: var(--cinza-texto);
            font-size: 1rem;
        }
    }
}
