.rodape {

    text-align: center;
    &__contato {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        a {
            text-decoration: none;
            font-family: var(--fonte-secundaria);
            color: var(--cinza-texto);
            font-weight: 300;
            font-size: 18px;
        }

        a:hover {
            cursor: pointer;
            color: var(--preto);
            font-weight: 400;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: space-around;

        p {
            font-size: 18px;
            color: var(--cinza-texto);
        }
    }
}