.projetos {

    display: flex;
    flex-direction: column;
    margin: 2em 2em;

    &__descricao {

        text-align: center;

        h2 {
            font-size: 3rem;
            font-weight: 700;
            color: var(--preto-texto);
        }
    }


    &__cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .projetos {
    
        &__descricao {
    
            h2 {
                font-size: 2.19rem;
            }
        }
    }
}