.autenticar {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    h1, p {
        color: var(--preto-texto);
    }

    input {
        margin-bottom: 1.5em;
        border-style: none;
        box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        width: 423px;
        height: 20px;
        font-size: 18px;
        padding: 1rem;
        border-radius: 8px;
    }

    button {
        font-weight: 600;
        font-size: 18px;
        color: var(--branco);
        background: var(--preto-texto);
        border-style: none;
        cursor: pointer;
        transition: 0.4s all;
        width: 457px;
        height: 45px;
        margin-bottom: 1em;
        margin-bottom: 4rem;
        border-radius: 8px;
    }

      button:hover {
        background: var(--azul);
        transform: scale(1.02);
    }
}

.icone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3.5rem 0;

    img {
        width: 40px;
        height: 40px;
        margin-left: 2rem;
    }
}