.introducao {

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 7em 5em;

    &__texto {

        h1 {
            margin: 0;
            font-size: 58px;
            font-weight: 700;
            line-height: 70px;
            color: var(--preto-texto);
        }
    }

}

@media screen and (max-width: 1024px) {
    .introducao {

        margin: 2em 3em 4em 3em;

        &__texto {
            h1 {
                font-size: 40px;
                line-height: 50px;
                text-align: center;
            }
        }

        &__imagem {
            margin: 1em;

            img {
                width: 200px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .introducao {

        flex-direction: column;
        margin: 2em 3em;

        &__texto {
            h1 {
                font-size: 25px;
                line-height: 34px;
            }
        }

        &__imagem {

            img {
                width: 150px;
            }
        }
    }
}