.contato {

    margin:  2em 6em;

    h1,h2, p {
        color: var(--preto-texto);
    }

    &__meios {

        h2 {
            font-size: 1.63rem;
        }
    
        p {
            font-size: 1.25rem;
        }
    }

}

@media screen and (max-width: 768px) {
    .contato {
        margin: 1em 2em;

        &__meios {

            h2 {
                font-size: 1.25rem;
            }
        
            p {
                font-size: 1rem;
            }
        }
    }
}