.projetos {

    display: flex;
    flex-direction: column;
    margin: 5em 2em;

    &__descricao {
       
        text-align: center;

        h2 {
            font-size: 3rem;
            font-weight: 700;
            color: var(--preto-texto);
        }
    
        h3 {
            font-size: 2rem;
            font-weight: 400;
            color: var(--cinza-texto);
            margin-bottom: 2em;
        }
    }


    &__cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (max-width: 768px) {
    .projetos {
        margin: 1em 2em;

        &__descricao {
            h2 {
                font-size: 2.19rem;
            }

            h3 {
                font-size: 1.63rem;
                margin-bottom: 1em;
            }
        }
    }
}