.menuLinks {
    display: flex;
    align-items: center;
    
    a {
        text-decoration: none;
        color: var(--cinza-texto);
        margin-left: 3em;
        font-family: var(--fonte-secundaria);
        font-size: 1.25rem;
        font-weight: 500;
    }

    a:hover {
        color: var(--preto);
        font-weight: 700;
    }
}

@media screen and (max-width: 1024px) {
    .menuLinks {
        a {
            margin-left: 2em;
        }
    }
}