.habilidades {
    
    margin: 4em 7em;

    h2 {
        font-size: 48px;
        line-height: 26px;
        font-weight: 700;
        color: var(--preto-texto);
        margin-bottom: 1em;
        
    }

    &__icones {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;

        img {
            width: 100px;
            height: 100px;
        }

        p {
            font-weight: 400;
            font-size: 24px;
            line-height: 18px;
            color: var(--cinza-texto);
            margin-bottom: 2em;
        }
    }

    &__idioma {
        
        h2 {
            margin-bottom: 1em;
        }

        
    }

}

.idioma {

    display: flex;
    align-items: center;
    margin: 0 4em;
    
    p {
        margin-right: 2em;
        color: var(--cinza-texto);
    }

    a {
        text-decoration: none;
        color: var(--branco);
        font-size: 16px;
    }

    button {
        border-radius: 10px;
        width: 140px;
        height: 40px;
        border: none;
    }
}