.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;

    &__mobile {
        display: none;
    }
}

@media screen and (max-width: 1024px) {

    .header {

        flex-direction: column;
        margin: 1.5em 1em;
        
        &__links {
            margin-top: 1em;
        }
    }
}

@media screen and (max-width: 768px) {

    .header {
        flex-direction: row;
        justify-content: space-around;
        margin: 1.5em 2em;

        &__mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        &__social {
            display: flex;
            margin: 0em 1em;
        }
        &__links {
            display: none;
        }
    }
}