.projetos {

    display: flex;
    flex-direction: column;
    margin: 5em 2em;

    &__descricao {
       
        text-align: center;

        h2 {
            font-size: 48px;
            font-weight: 700;
            color: var(--preto-texto);
        }
    
        h3 {
            font-size: 32px;
            font-weight: 400;
            color: var(--cinza-texto);
            margin-bottom: 2em;
        }
    }


    &__cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}